#listeSem {
  height: 600px;
  overflow-y: scroll;
}
#listeDetails {
  max-height: 400px;
  overflow-y: scroll;
}
#logoMazePetit{
  height: 60px;
  width: 400px;
}
.loading{
  color: black;
}
.jBox-Modal .jBox-title {
  background-color: #6c757d;
}
.btnIco{
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  font-size: 24px; 
}