#listeSem {
  max-height: 400px;
  overflow-y: scroll;
}
.listeDetails {
  max-height: 300px;
  overflow-y: scroll;
}
#logoMazePetit{
  height: 60px;
  width: 400px;
}
.loading{
  color: black;
}
.jBox-Modal .jBox-title {
  background-color: #6c757d;
}
.btnIco{
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  font-size: 24px; 
}

 .empty-message {
  padding: 5px 10px;
  text-align: center;
}
 .tt-menu {
  max-height: 150px;
  background-color: #3a3b3b;
  overflow-y: auto;
}
 .twitter-typeahead {
  width: 100%;
}
 .tt-hint {
  width: 100%;
}
 .tt-input {
  width: 100%;
}

.tagcloud {
  font-size: 16px;
}

.tagcloud--item {
  padding: 2px 4px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.tagcloud--item:hover {
  color: black;
  background-color: rgb(247, 232, 232);
  border: 1px solid rgb(255, 2, 2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 1 !important;
  z-index: 100 !important;
}
